/* var */
:root {
  --main-color: #367cff;
  --paragraph-color: #707070;
  --second-color: #303030;
  --transper: #367cff44;
  --main-padding: 80px;
  --sec-padding: 20px;
}

/* selection */
::selection {
  background-color: var(--main-color);
  color: white;
}

/* somth */
html {
  scroll-behavior: smooth;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #fcfcfc;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius:  40px;
  -webkit-border-radius:  40px;
  -moz-border-radius:  40px;
  -ms-border-radius:  40px;
  -o-border-radius:  40px;
  height: 10px;
}

/* .container */
.cont {
  max-width: 1200px;
  margin: auto;
}

/* All Elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: 'Poppins', sans-serif;
}


/* ============================================= */


/* start nav */

nav {
    width: 100%;
    height: 70px;
    background: white;
    line-height: 70px;
    padding: 0 8px;
    border-bottom: 1px solid #eee;
}
nav .logo {
    float: left;
}
nav .logo .hmobile {
  display: none;
}
nav .logo .hlarge{
    font-size: 30px;
    letter-spacing: 1px;
    color: var(--second-color);
    font-weight: 600;
    display: flex;
    align-items: center;
}
nav .logo .hlarge span {
    color: var(--main-color);
    color: var(--second-color);
}
nav .logo .hlarge img {
  width: 40px;
  line-height: 70px;
  margin-right: 10px;
}
nav .links ul {
    float: right;
}
nav .links ul li {
    list-style: none;
    display: inline-block;
}
nav .links ul li a{
    text-decoration: none;
    color: var(--second-color);
    font-size: 18px;
    padding:10px 15px;
}
nav .links ul li a.active,
nav .links ul li a:hover{
    color: var(--main-color);
}
.checkbtn {
    color: var(--second-color);
    cursor: pointer;
    font-size: 20px;
    float: right;
    display: none;
}
#check {
    display: none;
}

/* end nav */


/* ============================================= */


/* start home */

.home {
  width: 100%;
}
.home .cont {
  height: calc(100vh - 71px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .cont .info {
  max-width: 500px;
  min-width: 300px;
}
.home .cont .info h2 {
  font-weight: 500;
  font-size: 35px;
  color: var(--second-color);
}
.home .cont .info h3 {
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color);
  line-height: 1.4;
  margin-bottom: 20px;
}
.home .cont .info p {
  line-height: 1.6;
  padding-bottom: 40px;
  font-size: 17px;
  color: var(--paragraph-color);
}
.home .cont .info a {
  display: flex;
  width: fit-content;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  border: 1px solid var(--main-color);
}
.home .cont .info a i {
  margin-left: 10px;
  font-size: 20px;
  align-items: center;
}
.home .cont .info a:hover{
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: white;
}
.home .cont .image img {
  min-width: 300px;
  max-width: 600px;
}

/* end home */


/* ============================================= */


/* start about */

.about {
  padding: var(--main-padding) 0;
  background-color: #efefef;
}
.about .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .data .image img {
  width: 500px;
}
.about .data .info {
  width: 500px;
}
.about .data .info h3 {
  color: var(--second-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.about .data .info h3 span {
  color: var(--main-color);
}
.about .data .info p {
  line-height: 1.6;
  margin-bottom: 30px;
  color: var(--paragraph-color);
} 
.about .data .info p i {
  color: var(--main-color);
  font-size: 12px;
  margin-right: 15px;
}
.about .data .info p.nmargin {
  margin-bottom: 10px;
}

/* end about */


/* ============================================= */



/* Start services */

.services {
  padding: var(--main-padding) 0;
}
.services .ser {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.services .ser .data {
  text-align: center;
}
.services .ser .data i {
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 10px;
}
.services .ser .data .text h3 {
  color: var(--second-color);
  margin: 20px 0;
}
.services .ser .data .text p {
  color: var(--paragraph-color);
  line-height: 1.6;
  margin-bottom: 20px;
}
/* Heading-Parts */
.heading {
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  position: relative;
  margin-bottom: 100px;
}
.heading::before {
  content: '';
  background-color: var(--main-color);
  position:absolute;
  width: 50px;
  height: 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

/* end services */


/* ============================================= */


/* start skills */

.skills {
  padding: var(--main-padding) 0;
  background-color: #efefef;
}
.skills .flex .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills .info .data .text {
  margin-bottom: 40px;
}
.skills .info .data .text h3 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.skills .info .data .text .prog {
  background-color: var(--transper);
  height: 10px;
  width: 500px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.skills .info .data .text .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.skills .info .data .text .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  top: -10px;
  right: 0px;
  padding: 4px 0;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 17px;
}
.skills  img {
  width: 500px;
}

/* end skills */



/* Start portfolio */

.portfolio {
  padding: var(--main-padding) 0;
}
.portfolio .info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
}
.portfolio .info .img {
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 4px 4px 10px -5px rgba(0, 0, 0, 0.5);
}
.portfolio .info .img a img {
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  filter: brightness(1);
  -webkit-filter: brightness(1);
}
.portfolio .info .img a img:hover {
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}
.portfolio .info .img .text {
  padding: 10px 20px 30px;
  text-align: center;
}
.portfolio .info .img .text p a {
  color: var(--main-color);
}
.portfolio .info .img .text p a i {
  margin: 0 10px;
}

/* end portfolio */



/* strat contact */

.contact {
  padding: var(--main-padding) 0;
  background: #efefef;
}.contact .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .main .image img {
  width: 500px;
}
.contact .main .forms {
  width: 500px;
  position: relative;
}
.contact .main .forms .inp_1,
.contact .main .forms .inp_2,
.contact .main .forms .inp_3,
.contact .main .forms button{
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.contact .main .forms .inp_3 {
  width: 100%;
  height: 150px;
}
.contact .main .forms button {
  background: var(--main-color);
  color: white;
  width: fit-content;
  float: right;
}

/* end contact */

/* Start Footer */

footer {
  padding: 20px 0;
  background: #202020;
}
footer .main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .main .copy p {
  color: white;
  font-weight: 300;
  opacity: 0.7;
}
footer .main .copy p i {
  color: rgb(255, 16, 16);
  margin: 0 5px;
}
footer .main .copy p a {
  color: var(--main-color);
  margin: 0 5px;
  text-decoration: none;
}
footer .main .social i {
  color: #707070;
  background: var(--second-color);
  margin: 5px;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 5px;
  transition: 0.3s;
  opacity: 0.7;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .main .social a:nth-child(1) i:hover {
  color: white;
  background-color: #1877f2;
}
footer .main .social a:nth-child(2) i:hover {
  color: white;
  background-color: #ff0000;
}
footer .main .social a:nth-child(3) i:hover {
  color: white;
  background-color: #0a66c2;
}
footer .main .social a:nth-child(4) i:hover {
  color: white;
  background-color: #333333;
}
footer .main .social a:nth-child(5) i:hover {
  color: white;
  background-color: #996060;
}

/* End Footer */

.ang-up i {
  position: fixed;
  left: 95%;
  top: 95%;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: white;
  transform: translate(-50%, -50%);
}


/* media */

@media (max-width: 767px){
  .cont {
    width: 300px;
  }
  .checkbtn {
    display: block;
  }
  .checkbtn {
    color: white;
  }
  nav {
    position: fixed;
    z-index: 999;
    background-color: var(--main-color);
    border: 0;
  }
  nav .logo .hlarge {
    display: none;
  }
  nav .logo .hmobile {
    display: flex;
    align-items: center;
    color: white;
  }
  nav .logo .hmobile img {
    width: 33px;
    margin-right: 10px;
  }
  nav .links ul {
    width: 100%;
    height: 100vh;
    background: var(--second-color);
    position: fixed;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
  nav .links ul li {
    display: block;
    margin: 50px 0 ;
    line-height: 20px;
  }
  nav .links ul li a {
    color: #ddd;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .home {
    height: 100vh;
    padding: 50px 0 0 0;
  }
  .skills  img,
  .contact .main .image img,
  .about .data .image img ,
  .home .cont .image img {
    display: none;
  }
  .home .cont .info h2 {
    font-size: 32px;
  }
  .home .cont .info h3 {
    font-size: 20px; 
  }
  .home .cont .info p {
    font-size: 16px;
  }
  .home .cont .info a {
    font-size:18px;
  }
  .heading {
    font-size: 35px;
  }
  .skills .info .data .text .prog {
    width: 300px;
  }
  footer .main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  footer .main .social{
    text-align: center;
  }
  footer .main .social i {
    color: #707070;
    background: var(--second-color);
    font-size: 18px;
  }
  footer .main .copy p {
    font-size: 12px;
    text-align: center;
  }
  nav .logo .hlarge {
    display: none;
  }
  .ang-up i {
    left: 90%;
  }
}

/* small */
@media (min-width: 768px){
  .cont {
    width: 750px;
  }
  .skills  img,
  .contact .main .image img,
  .about .data .image img,
  .home .cont .image img {
    display: none;
  }
  .contact .main .forms,
  .skills .flex .info,
  .about .data {
    justify-content: center;
    flex-direction: row;
  }
  nav .links ul li a {
    padding: 10px;
  }
}

/* medium */
@media (min-width: 992px){
  .cont {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px){
  .cont {
    width: 1170px;
  }
  .skills  img,
  .contact .main .image img,
  .skills .skill .image img,
  .about .data .image img,
  .home .cont .image img {
    display: block;
  }
  .skills .flex .info,
  .about .data {
    justify-content: space-between;
  }
}









